In [ ]:
import pandas as pd

In [ ]:
df = pd.read_csv('./analyst_ratings_processed.csv')

In [ ]:
df_fb = df[df['stock'] == 'TSLA']
df_fb = df_fb[['title','date']]
df_fb = df_fb.rename(columns={'title': 'headline'})

In [ ]:
df_ratings = pd.read_csv('./raw_analyst_ratings.csv' ,error_bad_lines=False, engine='python')

/usr/local/lib/python3.7/dist-packages/IPython/core/interactiveshell.py:2882: FutureWarning: The error_bad_lines argument has been deprecated and will be removed in a future version.


  exec(code_obj, self.user_global_ns, self.user_ns)

In [ ]:
df_ratings_fb=df_ratings[df_ratings['stock']=='TSLA']

In [ ]:
df_ratings_fb = df_ratings_fb[['headline','date']]
df_ratings_fb

,headline,date
1255221,Tesla's Stock Closes At All-Time High As Musk ...,2020-06-10 17:02:47-04:00
1255222,'Tesla factory workplace safety is 5% better t...,2020-06-10 15:08:09-04:00
1255223,'Tesla hacker unlocks Performance upgrade and ...,2020-06-10 12:41:58-04:00
1255224,GM On Track To Spend $20B On EV And AV Develop...,2020-06-10 11:33:18-04:00
1255225,"Tesla's Journey To $1,000 In 2020",2020-06-10 10:15:07-04:00
...,...,...
1257091,Electrek.Co Tweet: Tesla's head of Europe is out,2019-07-02 00:00:00
1257092,Tesla's Q2 Delivery Number Could Cause A Big Move,2019-07-01 00:00:00
1257093,'Tesla Electric Airplane? Elon Musk sees elect...,2019-07-01 00:00:00
1257094,"UPDATE: JMP Reiterates Outperform, $347 Target...",2019-07-01 00:00:00
1257095,Tesla shares are trading higher after JMP Secu...,2019-07-01 00:00:00

In [ ]:
df_partrner = pd.read_csv('./raw_partner_headlines.csv',error_bad_lines=False, engine='python')

/usr/local/lib/python3.7/dist-packages/IPython/core/interactiveshell.py:2882: FutureWarning: The error_bad_lines argument has been deprecated and will be removed in a future version.


  exec(code_obj, self.user_global_ns, self.user_ns)

In [ ]:
df_fb_partner =  df_partrner[df_partrner['stock'] =='TSLA']

In [ ]:
df_fb_partner =  df_fb_partner[['headline','date']]

In [ ]:
df1 = df_fb.append(df_ratings_fb,ignore_index=True)

In [ ]:
df1 = df1.append(df_fb_partner)

In [ ]:
from numpy import exp
import datetime
def filterDate(row):
  #try:
  date_extracted = str(row.date).split()[0]
  row.date=datetime.datetime.strptime(date_extracted+ ' 00:00:00', '%Y-%m-%d %H:%M:%S')
  return row

In [ ]:
df1=df1.apply(filterDate, axis=1)

### Importing Comments from Reddit on Tesla Stock

In [ ]:
df_reditt = pd.read_csv('./one-year-of-tsla-on-reddit-comments.csv',error_bad_lines=False, engine='python')

/usr/local/lib/python3.7/dist-packages/IPython/core/interactiveshell.py:2882: FutureWarning: The error_bad_lines argument has been deprecated and will be removed in a future version.


  exec(code_obj, self.user_global_ns, self.user_ns)

In [ ]:
import datetime
def filter(row):
  row.created_utc=datetime.datetime.fromtimestamp(row.created_utc)
  return row
df_reditt=df_reditt.apply(filter, axis=1)

In [ ]:
df_reditt = df_reditt.rename(columns={'created_utc': 'date','body':'headline'})
df_reditt = df_reditt[['headline','date']]

In [ ]:
df1 = df1.append(df_reditt)

In [ ]:
df1=df1.apply(filterDate, axis=1)

In [ ]:
df1.sort_values(by='date', inplace=True)

In [ ]:
df1

                                               headline       date
1929  Tesla shares are trading higher after JMP Secu... 2019-07-01
1926  Tesla's Q2 Delivery Number Could Cause A Big Move 2019-07-01
1928  UPDATE: JMP Reiterates Outperform, $347 Target... 2019-07-01
3801  Tesla's Q2 Delivery Number Could Cause A Big Move 2019-07-01
1927  'Tesla Electric Airplane? Elon Musk sees elect... 2019-07-01
...                                                 ...        ...
105   Also, margin loans (against stocks) are signif... 2022-07-04
104                                  Thoughts on $TSLA? 2022-07-04
103                                        Tsla 2k 7/20 2022-07-04
101   "Hello. Your submission has been removed. Your... 2022-07-04
162   I really believed in TSLA in 2013 ($7/share th... 2022-07-04

[222550 rows x 2 columns]

### Importing tweets by elon musk

In [ ]:

def loadTweets():
  appended_data = []
  for i in range(0,3):
    csv_file = './'+str(2020+i)+'.csv'
    df = pd.read_csv(csv_file,error_bad_lines=False, engine='python')
    appended_data.append(df)
  appended_data = pd.concat(appended_data)
  return appended_data

In [ ]:
df_main = loadTweets()

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:1: FutureWarning: The error_bad_lines argument has been deprecated and will be removed in a future version.


  """Entry point for launching an IPython kernel.

In [ ]:
df_main = df_main[['date','tweet']]

In [ ]:
import datetime

def filter(row):
  #try:
  date_extracted = str(row.date).split()[0]
  row.date=datetime.datetime.strptime(date_extracted+ ' 00:00:00', '%d-%m-%Y %H:%M:%S')
  return row
df_main=df_main.apply(filter, axis=1)

In [ ]:
df_main = df_main.rename(columns={'tweet':'headline'})

In [ ]:
df_main.head

<bound method NDFrame.head of            date                                           headline
0    2020-12-28  Entertainment will be critical when cars drive...
1    2020-12-28  @kimpaquette Just meeting with Larry Ellison t...
2    2020-12-28                        @richierichhhhh_ Absolutely
3    2020-12-28  What should Tesla do with in-car gaming in an ...
4    2020-12-28                          @PPathole @WSJ Absolutely
...         ...                                                ...
1023 2022-01-03                            https://t.co/LA9hPzVlGx
1024 2022-01-02                Letâ€™s make the roaring 20â€™s happen!
1025 2022-01-02                Great work by Tesla team worldwide!
1026 2022-01-01                                  @BLKMDL3 @Tesla ðŸ”¥
1027 2022-01-01                  @MiFSDBetaTester @WholeMarsBlog ðŸ¤£

[12693 rows x 2 columns]>

In [ ]:
df_main.tail

<bound method NDFrame.tail of            date                                           headline
0    2020-12-28  Entertainment will be critical when cars drive...
1    2020-12-28  @kimpaquette Just meeting with Larry Ellison t...
2    2020-12-28                        @richierichhhhh_ Absolutely
3    2020-12-28  What should Tesla do with in-car gaming in an ...
4    2020-12-28                          @PPathole @WSJ Absolutely
...         ...                                                ...
1023 2022-01-03                            https://t.co/LA9hPzVlGx
1024 2022-01-02                Letâ€™s make the roaring 20â€™s happen!
1025 2022-01-02                Great work by Tesla team worldwide!
1026 2022-01-01                                  @BLKMDL3 @Tesla ðŸ”¥
1027 2022-01-01                  @MiFSDBetaTester @WholeMarsBlog ðŸ¤£

[12693 rows x 2 columns]>

In [ ]:
df_main = df_main.append(df1)
df_main.sort_values(by='date', inplace=True)

In [ ]:
import datetime
import re
def filterUrls(row):
  row.headline=re.sub(r'^https?:\/\/.*[\r\n]*', '', row.headline, flags=re.MULTILINE)
  return row
df_main=df_main.apply(filterUrls, axis=1)

In [ ]:
df_main

           date                                           headline
8549 2018-01-03  Come work at the biggest &amp; most advanced f...
8548 2018-01-03  Using a neural net to detect rain using camera...
8547 2018-01-05  Falcon Heavy goes vertical  https://t.co/uG1k0...
8546 2018-01-05                            https://t.co/3k71xzDIP1
8543 2018-01-07  @yoda Of course. And an outdoor screen that pl...
...         ...                                                ...
0    2022-07-04  When TSLA was at 1K share price :\n\n8B sales/...
78   2022-07-04  FSD was supposed to be here already years ago ...
6    2022-07-04  All these $TSLA hit pieces sure make me want t...
18   2022-07-04  **Ban Bet Created:** **/u/Zestyclose-Zebra-** ...
162  2022-07-04  I really believed in TSLA in 2013 ($7/share th...

[235243 rows x 2 columns]

In [ ]:
df_mainfiltered =  df_main[df_main['headline'].str.contains("tesla | stock |TSLA  | stockmarket | investing | profit | loss | NYSE | NASDAQ | ELONMUSK | stockmarket | price", case=False, flags=re.IGNORECASE,  na=False, regex=True)]
df_mainfiltered.sort_values(by='date', inplace=True)

/usr/local/lib/python3.7/dist-packages/pandas/util/_decorators.py:311: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  return func(*args, **kwargs)

In [ ]:
df_main

           date                                           headline
8549 2018-01-03  Come work at the biggest &amp; most advanced f...
8548 2018-01-03  Using a neural net to detect rain using camera...
8547 2018-01-05  Falcon Heavy goes vertical  https://t.co/uG1k0...
8546 2018-01-05                            https://t.co/3k71xzDIP1
8543 2018-01-07  @yoda Of course. And an outdoor screen that pl...
...         ...                                                ...
0    2022-07-04  When TSLA was at 1K share price :\n\n8B sales/...
78   2022-07-04  FSD was supposed to be here already years ago ...
6    2022-07-04  All these $TSLA hit pieces sure make me want t...
18   2022-07-04  **Ban Bet Created:** **/u/Zestyclose-Zebra-** ...
162  2022-07-04  I really believed in TSLA in 2013 ($7/share th...

[235243 rows x 2 columns]

In [ ]:
df_mainfiltered.to_csv('TWEETS_AND_HEADLINES_FILTERED.csv')

In [ ]:
df_main.to_csv('TWEETS_AND_HEADLINES.csv')

In [ ]:
df_main

           date                                           headline
8549 2018-01-03  Come work at the biggest &amp; most advanced f...
8548 2018-01-03  Using a neural net to detect rain using camera...
8547 2018-01-05  Falcon Heavy goes vertical  https://t.co/uG1k0...
8546 2018-01-05                            https://t.co/3k71xzDIP1
8543 2018-01-07  @yoda Of course. And an outdoor screen that pl...
...         ...                                                ...
0    2022-07-04  When TSLA was at 1K share price :\n\n8B sales/...
78   2022-07-04  FSD was supposed to be here already years ago ...
6    2022-07-04  All these $TSLA hit pieces sure make me want t...
18   2022-07-04  **Ban Bet Created:** **/u/Zestyclose-Zebra-** ...
162  2022-07-04  I really believed in TSLA in 2013 ($7/share th...

[235243 rows x 2 columns]

In [ ]:
df_mainfiltered

           date                                           headline
8545 2018-01-07  Gonna put an old school drive-in, roller skate...
8542 2018-01-07  @omerldiri @Tesla Good idea. We can just have ...
8539 2018-01-09  @Mister_Millard @Tesla That sounds cool. Will do.
8540 2018-01-09  @PPathole @Tesla @Teslarati @MKBHD Fixed in ne...
8513 2018-01-29                 @JosephHuberman @Tesla Coming soon
...         ...                                                ...
152  2022-07-04  This is Reddit ðŸ¤·ðŸ»\n\nBut what you said isnâ€™t t...
156  2022-07-04  Reddit etiquette is pretty simple.  \n\nRespec...
8    2022-07-04  I'm currently trying to wrap my head around th...
89   2022-07-04  Is Tesla a fish? Do other animals rot from oth...
4    2022-07-04  I do trade in some ETFs.. DIV, SDIV ; USOI (it...

[37208 rows x 2 columns]

In [ ]:
import re

In [ ]:
df_main = pd.read_csv('./TWEETS_AND_HEADLINES.csv',error_bad_lines=False, engine='python')

/usr/local/lib/python3.7/dist-packages/IPython/core/interactiveshell.py:2882: FutureWarning: The error_bad_lines argument has been deprecated and will be removed in a future version.


  exec(code_obj, self.user_global_ns, self.user_ns)

In [ ]:
df_mainfiltered =  df_main[df_main['headline'].str.contains("tesla | stock |TSLA  | stockmarket | investing | profit | loss | NYSE | NASDAQ | ELONMUSK | stockmarket | price", case=False, flags=re.IGNORECASE,  na=False, regex=True)]
df_mainfiltered.sort_values(by='date', inplace=True)

/usr/local/lib/python3.7/dist-packages/pandas/util/_decorators.py:311: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  return func(*args, **kwargs)

In [ ]:
df_mainfiltered

,Unnamed: 0,date,headline
5,8545,2018-01-07,"Gonna put an old school drive-in, roller skate..."
7,8542,2018-01-07,@omerldiri @Tesla Good idea. We can just have ...
9,8539,2018-01-09,@Mister_Millard @Tesla That sounds cool. Will do.
10,8540,2018-01-09,@PPathole @Tesla @Teslarati @MKBHD Fixed in ne...
37,8513,2018-01-29,@JosephHuberman @Tesla Coming soon
...,...,...,...
235151,94,2022-07-04,Tweet Mirror:[@StockMKTNewz](https://twitter.c...
235155,90,2022-07-04,Have we? Scientists don't even know what the m...
235156,89,2022-07-04,Is Tesla a fish? Do other animals rot from oth...
235116,129,2022-07-04,call. if tsla didnâ€™t downvise itâ€™s price would...
235245,0,2022-07-04,When TSLA was at 1K share price :\n\n8B sales/...

In [ ]:
df_mainfiltered.to_csv('TWEETS_AND_HEADLINES_FILTERED.csv')